;Direction parameter adjustment, including the x, y, z axis, and xy interchange four variables,
;the name of the module used for identification, and drive registered name consistent
;--------------------------
;name:mpu6880_acc
;--------------------------
gsensor_name = mpu6880_acc
gsensor_direct_x = true
gsensor_direct_y = true
gsensor_direct_z = false
gsensor_xy_revert = true
